.abt_about {
  padding-top: 0;
  padding-bottom: 80px;
}

.abt_header-bg {
  background-color: var(--bg-light);
  background: linear-gradient(90deg, #12344d 0%, #031d36 50%, #12344d 100%);
  padding-top: 80px;
  padding-bottom: 16px;
  width: 100%;
  overflow: hidden;
}

.section-title {
  font-family: var(--font-main);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);

}

.title-decor__text {
  position: relative;
  white-space: nowrap;
  display: inline-block;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 27px;

    @media only screen and (min-width: 1440px) {
      width: 175px;
      height: 38px;
    }
  }

  &::before {
    background-image: url('../img/about/title-decor-left.png');
    left: 0;
    transform: translate(-100%, -50%);
    margin-left: -16px;

    @media only screen and (min-width: 1440px) {
      margin-left: -24px;
    }
  }

  &::after {
    background-image: url('../img/about/title-decor-right.png');
    right: 0;
    transform: translate(100%, -50%);
    margin-right: -16px;

    @media only screen and (min-width: 1440px) {
      margin-right: -24px;
    }
  }
}

.section_subtitle {
  font-family: var(--font-title);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 56px;
  padding-top: 80px;
  width: 100%;

  @media only screen and (min-width: 1440px) {
    align-items: center;
    font-size: 32px;
    max-width: 907px;
  }
}

.abt_content {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    max-width: 960px;
  }
}

.abt_text-block {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--white-color);

  @media only screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}