
.glr_gallery {
  padding-bottom: 50px;
  padding-top: 0;
  background-color: var(--bg-dark);
  overflow: hidden;
}

@media only screen and (min-width: 1440px) {
  .glr_gallery {
    padding-bottom: 100px;
  }
}

.glr_slider-viewport {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.glr_slider-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.glr_slider-wrapper::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .glr_slider-wrapper {
    max-width: 1041px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    scroll-snap-type: none;
  }
}

.glr_cards-list {
  display: flex;
  gap: 16px;
}

@media only screen and (min-width: 1440px) {
  .glr_cards-list {
    gap: 32px;
  }
}

.glr_card {
  flex: 0 0 270px;
  scroll-snap-align: center;
}

@media only screen and (min-width: 1440px) {
  .glr_card {
    flex: 0 0 270px;
    scroll-snap-align: none;
  }
}

.glr_figure {
  margin: 0;
  width: 100%;
}

.glr_figure img {
  display: block;
  width: 100%;
  height: 560px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--bg-3);
}

.glr_btn {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .glr_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--accent-color2);
    border: none;
    cursor: pointer;
    z-index: 12;
    transition: background-color 0.3s ease;
  }

  .glr_btn svg {
    fill: none;
    stroke: var(--bg-dark);
  }

  .glr_btn:hover {
    background-color: var(--white-color);

  }


  .glr_btn--prev {
    left: calc((100vw - 1041px) / 2 - 70px);
  }

  .glr_btn--next {
    right: calc((100vw - 1041px) / 2 - 70px);
  }
}

@media only screen and (min-width: 1440px) {

  .glr_slider-viewport::before,
  .glr_slider-viewport::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc((100vw - 1041px) / 2);
    z-index: 2;
    pointer-events: none;
  }

  .glr_slider-viewport::before {
    left: 0;
    background: linear-gradient(to right, var(--bg-dark) 70%, transparent);
    backdrop-filter: blur(8px);
  }

  .glr_slider-viewport::after {
    right: 0;
    background: linear-gradient(to left, var(--bg-dark) 40%, transparent);
    backdrop-filter: blur(8px);
  }
}