.htw_how-to-play {
  padding-bottom: 50px;
  padding-top: 0;

  @media only screen and (min-width: 1440px) {
    padding-bottom: 100px;
  }
}

.htw_how-to-play .section_subtitle {

  @media only screen and (min-width: 1440px) {
    max-width: 1100px;
  }
}

.htw_slider-wrapper {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (min-width: 1440px) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    overflow-x: visible;
  }
}

.htw_cards-list {
  display: flex;
  gap: 16px;

  @media only screen and (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
    max-width: 1102px;
    margin: 0 auto;
  }
}

.htw_card {
  flex: 0 0 270px;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;


  @media only screen and (min-width: 1440px) {
    flex: none;
    scroll-snap-align: none;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      grid-column: span 2;
    }

    &:nth-child(4),
    &:nth-child(5) {
      grid-column: span 3;
      max-width: 552px;
      justify-self: center;
      width: 100%;
    }
  }
}

.htw_figure {
  margin: 0 0 16px 0;
  width: 100%;

  @media only screen and (min-width: 1440px) {
    margin-bottom: 20px;
  }
}

.htw_figure img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;

  @media only screen and (min-width: 1440px) {
    .htw_card:nth-child(-n+3) & {
      aspect-ratio: 346 / 460;
    }

    .htw_card:nth-child(n+4) & {
      aspect-ratio: 552 / 552;
    }
  }
}

.htw_card-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.htw_card-title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 16px;
  padding-bottom: 16px;
  letter-spacing: 0.05em;
  border-bottom: 1px solid var(--bg-3);
  width: 100%;


}

.htw_card-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
  color: var(--white-color);
  padding: 0 5px;

  max-width: 100%;
  margin: 0 auto;

}