<article class="abt_about" id="about">
  <div class="abt_header-bg">
    <h2 class="title-decor">
      <span class="title-decor__text">About the Game</span>
    </h2>
  </div>

  <h3 class="abt_subtitle">
    <div>
      <span>A FANTASY PUZZLE</span>
      <span> JOURNEY</span>
    </div>
    FILLED WITH EXPLORATION AND REWARDS
  </h3>

  <div class="abt_content">
    <figure class="abt_figure">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="img/about/abt1.png 1x, img/about/abt1@2x.png 2x"
        />
        <img
          src="img/about/abt1-mob.png"
          srcset="img/about/abt1-mob@2x.png 2x"
          alt="Royal Adventure Promo"
          width="280"
          height="380"
          loading="lazy"
        />
      </picture>
    </figure>

    <div class="abt_text-block">
      <p>
        So basically, you're playing match-3 puzzles while fixing up this old
        castle, there's actually a pretty decent story running through it all.
        Players complete colorful puzzle levels to unlock new palace areas,
        repair royal gardens, and uncover hidden mysteries connected to the
        ancient kingdom.We wanted something that just feels good to play, you
        know, satisfying without being stressful. Every completed renovation
        makes the kingdom feel more alive and fun, giving players a constant and
        enjoyable sense of progress and discovery.
      </p>
    </div>

    <figure class="abt_figure">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="img/about/abt2.png 1x, img/about/abt2@2x.png 2x"
        />
        <img
          src="img/about/abt2-mob.png"
          srcset="img/about/abt2-mob@2x.png 2x"
          alt="Gameplay Map"
          width="280"
          height="380"
          loading="lazy"
        />
      </picture>
    </figure>
  </div>
</article>
