<article class="chr_characters" id="characters">
  <div class="abt_header-bg">
    <h2 class="title-decor">
      <span class="title-decor__text">Characters</span>
    </h2>
  </div>

  <h3 class="chr_subtitle">THE ROYAL WORLD COMES ALIVE THROUGH ITS HEROES</h3>

  <div class="container">
    <div class="chr_slider-wrapper">
      <div class="chr_cards-list">
        <div class="chr_card">
          <figure class="chr_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/characters/princess.png    1x,
                  img/characters/princess@2x.png 2x
                "
              />
              <img
                src="img/characters/princess-mob.png"
                srcset="img/characters/princess-mob@2x.png 2x"
                alt="Princess Elara"
                width="300"
                height="501"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="chr_card-content">
            <h4 class="chr_card-title">Princess Elara</h4>
            <p class="chr_card-text">
              The future queen determined to restore the kingdom's former
              beauty.
            </p>
          </div>
        </div>

        <div class="chr_card">
          <figure class="chr_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/characters/cedric.png    1x,
                  img/characters/cedric@2x.png 2x
                "
              />
              <img
                src="img/characters/cedric-mob.png"
                srcset="img/characters/cedric-mob@2x.png 2x"
                alt="Cedric"
                width="300"
                height="501"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="chr_card-content">
            <h4 class="chr_card-title">Cedric</h4>
            <p class="chr_card-text">
              A loyal royal guardian protecting the castle from hidden dangers.
            </p>
          </div>
        </div>

        <div class="chr_card">
          <figure class="chr_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/characters/luna.png    1x,
                  img/characters/luna@2x.png 2x
                "
              />
              <img
                src="img/characters/luna-mob.png"
                srcset="img/characters/luna-mob@2x.png 2x"
                alt="Luna"
                width="300"
                height="501"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="chr_card-content">
            <h4 class="chr_card-title">Luna</h4>
            <p class="chr_card-text">
              A mysterious mage connected to the kingdom's forgotten magic and
              hidden secrets.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
