<article class="cnt_section" id="contact">
  <div class="header-bg">
    <div class="container">
      <h2 class="section-title">Contact</h2>
    </div>
  </div>

  <div class="container">
    <h3 class="section_subtitle">
      READY TO BECOME THE KING OF UNDERGROUND DRIFTING?
    </h3>

    <div class="cnt_wrapper">
      <a href="mailto:info@vectora.it.com" class="cnt_email-link">
        <img
          src="img/contact/envelope.png"
          alt="envelope"
          width="31"
          height="31"
        />
        <span class="cnt_email-text">info@vectora.it.com</span>
      </a>
    </div>
  </div>

  <figure class="cnt_figure">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="img/contact/bg-contact.png 1x, img/contact/bg-contact@2x.png 2x"
      />
      <img
        src="img/contact/bg-contact-mob.png"
        srcset="img/contact/bg-contact-mob@2x.png 2x"
        alt="Abyssal station control room"
        width="375"
        height="400"
        loading="lazy"
      />
    </picture>
  </figure>
</article>
