<article class="cnt_contact" id="contact">
  <div class="cnt_header-bg">
    <h2 class="title-decor">
      <span class="title-decor__text">Contact</span>
    </h2>
  </div>

  <div class="cnt_content container">
    <h3 class="cnt_title">The kingdom is waiting for its next adventure</h3>

    <div class="cnt_mail-box">
      <span class="cnt_icon" aria-hidden="true">
        <svg width="48" height="48">
          <use href="sprite.svg#icon-envelope"></use>
        </svg>
      </span>
      <a href="mailto:info@pathcluster.space" class="cnt_link"
        >info@pathcluster.space</a
      >
    </div>
  </div>

  <figure class="cnt_figure">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="img/contact/bg-contact.png 1x, img/contact/bg-contact@2x.png 2x"
      />
      <img
        src="img/contact/bg-contact-mob.png"
        srcset="img/contact/bg-contact-mob@2x.png 2x"
        alt="The boy in the green boat celebrating"
        width="375"
        height="240"
        loading="lazy"
      />
    </picture>
  </figure>
</article>
