<article class="faq_section" id="faq">
  <div class="abt_header-bg">
    <h2 class="title-decor">
      <span class="title-decor__text">FAQ</span>
    </h2>
  </div>

  <h3 class="abt_subtitle">QUICK ANSWERS</h3>

  <div class="faq_container">
    <div class="faq_item" data-faq-item>
      <button class="faq_trigger" data-faq-trigger aria-expanded="false">
        <span class="faq_question">Is the gameplay beginner-friendly?</span>
        <span class="faq_icon-box">
          <svg class="faq_icon" width="14" height="14">
            <use href="sprite.svg#icon-faq"></use>
          </svg>
        </span>
      </button>
      <div class="faq_content" data-faq-content>
        <div class="faq_text-wrap">
          <p class="faq_answer">
            Yes, controls and mechanics are very accessible.
          </p>
        </div>
      </div>
    </div>

    <div class="faq_item" data-faq-item>
      <button class="faq_trigger" data-faq-trigger aria-expanded="false">
        <span class="faq_question"
          >Can players restore different castle areas?</span
        >
        <span class="faq_icon-box">
          <svg class="faq_icon" width="14" height="14">
            <use href="sprite.svg#icon-faq"></use>
          </svg>
        </span>
      </button>
      <div class="faq_content" data-faq-content>
        <div class="faq_text-wrap">
          <p class="faq_answer">
            Yes, progression unlocks multiple royal locations.
          </p>
        </div>
      </div>
    </div>

    <div class="faq_item" data-faq-item>
      <button class="faq_trigger" data-faq-trigger aria-expanded="false">
        <span class="faq_question">Does the game include boosters?</span>
        <span class="faq_icon-box">
          <svg class="faq_icon" width="14" height="14">
            <use href="sprite.svg#icon-faq"></use>
          </svg>
        </span>
      </button>
      <div class="faq_content" data-faq-content>
        <div class="faq_text-wrap">
          <p class="faq_answer">
            Yes, magical boosters help complete difficult levels.
          </p>
        </div>
      </div>
    </div>

    <div class="faq_item" data-faq-item>
      <button class="faq_trigger" data-faq-trigger aria-expanded="false">
        <span class="faq_question"
          >Are levels designed for short sessions?</span
        >
        <span class="faq_icon-box">
          <svg class="faq_icon" width="14" height="14">
            <use href="/sprite.svg#icon-faq"></use>
          </svg>
        </span>
      </button>
      <div class="faq_content" data-faq-content>
        <div class="faq_text-wrap">
          <p class="faq_answer">
            Yes, gameplay is optimized for casual mobile play.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
