<article class="fea_features" id="features">
  <div class="abt_header-bg">
    <h2 class="title-decor">
      <span class="title-decor__text">Features</span>
    </h2>
  </div>

  <h3 class="fea_subtitle">SYSTEMS DESIGNED FOR MAGICAL PROGRESSION</h3>

  <div class="container">
    <div class="fea_slider-wrapper">
      <div class="fea_cards-list">
        <div class="fea_card">
          <svg class="fea_card-icon" width="48" height="48" aria-hidden="true">
            <use href="/public/sprite.svg#icon-feature-1"></use>
          </svg>
          <h4 class="fea_card-title">Fantasy Match-3 Gameplay</h4>
          <p class="fea_card-text">
            Classic puzzle mechanics combined with royal-themed visuals and
            effects throughout.
          </p>
        </div>

        <div class="fea_card">
          <svg class="fea_card-icon" width="48" height="48" aria-hidden="true">
            <use href="/public/sprite.svg#icon-feature-2"></use>
          </svg>
          <h4 class="fea_card-title">Kingdom Restoration</h4>
          <p class="fea_card-text">
            As you beat levels, you're actually fixing up different parts of the
            castle.
          </p>
        </div>

        <div class="fea_card">
          <svg class="fea_card-icon" width="48" height="48" aria-hidden="true">
            <use href="/public/sprite.svg#icon-feature-3"></use>
          </svg>
          <h4 class="fea_card-title">Bright Cinematic Art Style</h4>
          <p class="fea_card-text">
            We spent a lot of time on the art, wanted it to feel like a fairy
            tale book come to life for players.
          </p>
        </div>

        <div class="fea_card">
          <svg class="fea_card-icon" width="48" height="48" aria-hidden="true">
            <use href="/public/sprite.svg#icon-feature-4"></use>
          </svg>
          <h4 class="fea_card-title">Story-Driven Adventure</h4>
          <p class="fea_card-text">
            Characters and quests guide progression throughout the kingdom
            adventure.
          </p>
        </div>

        <div class="fea_card">
          <svg class="fea_card-icon" width="48" height="48" aria-hidden="true">
            <use href="/public/sprite.svg#icon-feature-5"></use>
          </svg>
          <h4 class="fea_card-title">Relaxing Puzzle Sessions</h4>
          <p class="fea_card-text">
            Gameplay is designed for a smooth casual mobile experience
            throughout.
          </p>
        </div>
      </div>
    </div>
  </div>

  <picture class="fea_promo-picture">
    <source
      media="(min-width: 1440px)"
      srcset="
        img/features/bg-features.png    1x,
        img/features/bg-features@2x.png 2x
      "
    />
    <img
      src="img/features/bg-features-mob.png"
      srcset="img/features/bg-features-mob@2x.png 2x"
      alt="Magical Progression Glider Gameplay"
      loading="lazy"
    />
  </picture>
</article>
