<footer class="ft_footer">
  <div class="container ft_footer-wrapper">
    <a href="#" class="ft_logo-link">
      <figure class="ft_logo-figure">
        <img
          src="img/hero/logo-hero.png"
          srcset="img/hero/logo-hero@2x.png 2x"
          alt="Abyssal Tide Lost Oceans Logo"
          class="ft_logo-img"
          width="345"
          height="85"
          loading="lazy"
        />
      </figure>
    </a>

    <ul class="ft_footer-list">
      <li class="ft_footer-item">
        <a class="ft_footer-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="ft_footer-item">
        <a class="ft_footer-link" href="./terms-conditions.html"
          >Terms of Service</a
        >
      </li>
    </ul>

    <p class="ft_footer-copyright">
      © 2026 vectora.it.com — All rights reserved.
    </p>
  </div>
</footer>
