<footer class="ftr_footer">
  <div class="container ftr_footer-wrapper">
    <span style="display: none">Generated: 2025-04-07, Hash: f83hd7x</span>

    <p class="ftr_footer-copyright">
      <span class="ftr_footer-copy-main">
        © 2026 pathcluster.space — All rights reserved.
      </span>
    </p>

    <a
      href="https://play.google.com/store/apps/details?id=com.dreamspark.royal.adventure&hl=en&gl=us"
      class="ftr_google-btn"
      target="_blank"
      rel="noopener noreferrer"
    >
      <figure class="ftr_btn-figure">
        <picture>
          <img
            src="/img/hero/google.png"
            alt="Get it on Google Play"
            class="ftr_btn-img"
            width="170"
            height="50"
          />
        </picture>
      </figure>
    </a>

    <ul class="ftr_footer-list">
      <li class="ftr_footer-item">
        <a class="ftr_footer-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="ftr_footer-item">
        <a class="ftr_footer-link" href="./terms-conditions.html"
          >Terms of Service</a
        >
      </li>
    </ul>
  </div>
</footer>
