<header class="hdr_header">
  <div class="container hdr_container">
    <button class="hdr_btn-burger" type="button" data-menu-open>
      <svg class="hdr_btn-burger-icon">
        <use href="/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <a href="./" class="hdr_logo-link">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/img/logo-header.png 1x, /img/logo-header@2x.png 2x"
          type="image/png"
        />
        <source
          srcset="/img/logo-header-mob.png 1x, /img/logo-header-mob.png 2x"
          type="image/png"
        />
        <img
          class="hdr_logo-img"
          src="/img/logo-header-mob.png"
          alt="Royal Adventure"
          width="32"
          height="32"
        />
      </picture>
    </a>
    <nav class="hdr_navigation">
      <ul class="hdr_list-navigation">
        <li class="hdr_item-navigation">
          <a href="/#" class="hdr_item-nav-link">Home</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="/#about" class="hdr_item-nav-link">About the Game</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="/#how-to-play" class="hdr_item-nav-link">How to Play</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="/#characters" class="hdr_item-nav-link">Characters</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="/#features" class="hdr_item-nav-link">Features</a>
        </li>

        <li class="hdr_item-navigation">
          <a href="/#reviews" class="hdr_item-nav-link">Reviews</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="/#faq" class="hdr_item-nav-link">FAQ</a>
        </li>
        <li class="hdr_item-navigation">
          <a href="/#contact" class="hdr_item-nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
