<article class="hr_hero">
  <div class="hr_hero-bg-wrapper">
    <picture>
      <!-- Десктопний фон з папки hero -->
      <source
        media="(min-width: 1440px)"
        srcset="/img/hero/hero.png 1x, /img/hero/hero@2x.png 2x"
        type="image/png"
      />
      <!-- Мобільний фон з папки hero -->
      <source
        srcset="/img/hero/hero-mob.png 1x, /img/hero/hero-mob@2x.png 2x"
        type="image/png"
      />
      <img
        src="/img/hero/hero-mob.png"
        alt="Abyssal Tide Underwater World"
        class="hr_hero-bg-img"
        loading="eager"
      />
    </picture>
  </div>

  <div class="container hr_hero-container">
    <figure class="hr_hero-logo-box">
      <img
        src="/img/hero/logo-hero.png"
        srcset="/img/hero/logo-hero@2x.png 2x"
        alt="Abyssal Tide Logo"
        class="hr_hero-logo"
      />
    </figure>

    <h1 class="hr_hero-title">Descend Into The Unknown Depths</h1>

    <div class="hr_hero-descr-box">
      <p class="hr_hero-text">
        The ocean remembers everything. <br />
        Survive the ocean and uncover forgotten underwater civilizations.
      </p>
    </div>
  </div>
</article>
