<article class="htw_how-to-play" id="how-to-play">
  <div class="abt_header-bg">
    <div class="container">
      <h2 class="title-decor">
        <span class="title-decor__text">How to Play</span>
      </h2>
    </div>
  </div>

  <div class="container">
    <h3 class="htw_subtitle">MATCH, RESTORE, DISCOVER</h3>

    <div class="htw_slider-wrapper">
      <div class="htw_cards-list">
        <div class="htw_card">
          <figure class="htw_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/how-to-play/htw-1.png    1x,
                  img/how-to-play/htw-1@2x.png 2x
                "
              />
              <img
                src="img/how-to-play/htw-1-mob.png"
                srcset="img/how-to-play/htw-1-mob@2x.png 2x"
                alt="Solve match-3 levels"
                width="254"
                height="524"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="htw_card-content">
            <h4 class="htw_card-title"><span>SOLVE</span> MATCH-3 LEVELS</h4>
            <p class="htw_card-text">
              Combine colorful gems and symbols to clear objectives.
            </p>
          </div>
        </div>

        <div class="htw_card">
          <figure class="htw_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/how-to-play/htw-2.png    1x,
                  img/how-to-play/htw-2@2x.png 2x
                "
              />
              <img
                src="img/how-to-play/htw-2-mob.png"
                srcset="img/how-to-play/htw-2-mob@2x.png 2x"
                alt="Unlock castle areas"
                width="254"
                height="524"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="htw_card-content">
            <h4 class="htw_card-title"><span>UNLOCK</span> CASTLE AREAS</h4>
            <p class="htw_card-text">
              Progress through towers, gardens, and hidden chambers.
            </p>
          </div>
        </div>

        <div class="htw_card">
          <figure class="htw_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/how-to-play/htw-3.png    1x,
                  img/how-to-play/htw-3@2x.png 2x
                "
              />
              <img
                src="img/how-to-play/htw-3-mob.png"
                srcset="img/how-to-play/htw-3-mob@2x.png 2x"
                alt="Trigger magical boosters"
                width="254"
                height="524"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="htw_card-content">
            <h4 class="htw_card-title">
              <span>TRIGGER</span> MAGICAL BOOSTERS
            </h4>
            <p class="htw_card-text">
              Special combinations activate explosive royal power-ups.
            </p>
          </div>
        </div>

        <div class="htw_card">
          <figure class="htw_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/how-to-play/htw-4.png    1x,
                  img/how-to-play/htw-4@2x.png 2x
                "
              />
              <img
                src="img/how-to-play/htw-4-mob.png"
                srcset="img/how-to-play/htw-4-mob@2x.png 2x"
                alt="Complete story missions"
                width="254"
                height="524"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="htw_card-content">
            <h4 class="htw_card-title"><span>COMPLETE</span> STORY MISSIONS</h4>
            <p class="htw_card-text">
              Help characters rebuild the kingdom and reveal secrets.
            </p>
          </div>
        </div>

        <div class="htw_card">
          <figure class="htw_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/how-to-play/htw-5.png    1x,
                  img/how-to-play/htw-5@2x.png 2x
                "
              />
              <img
                src="img/how-to-play/htw-5-mob.png"
                srcset="img/how-to-play/htw-5-mob@2x.png 2x"
                alt="Collect your rewards"
                width="254"
                height="524"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="htw_card-content">
            <h4 class="htw_card-title"><span>COLLECT</span> YOUR REWARDS</h4>
            <p class="htw_card-text">
              Earn decorations, treasures, and upgrade materials.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
