<article class="htw_how-to-play" id="how-to-play">
  <div class="header-bg">
    <div class="container">
      <h2 class="section-title">How to Play</h2>
    </div>
  </div>

  <div class="container">
    <h3 class="section_subtitle">
      EXPLORE DANGEROUS OCEANS AND SURVIVE THE ABYSS
    </h3>

    <div class="htw_slider-wrapper">
      <div class="htw_cards-list">
        <!-- Карточка 1 -->
        <div class="htw_card">
          <figure class="htw_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/how-to-play/htw-1.png    1x,
                  img/how-to-play/htw-1@2x.png 2x
                "
              />
              <img
                src="img/how-to-play/htw-1-mob.png"
                srcset="img/how-to-play/htw-1-mob@2x.png 2x"
                alt="Dive into deep-sea zones"
                width="270"
                height="358"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="htw_card-content">
            <h4 class="htw_card-title">DIVE INTO DEEP-SEA ZONES</h4>
            <p class="htw_card-text">
              Explore mysterious underwater regions filled with hidden
              discoveries.
            </p>
          </div>
        </div>

        <!-- Карточка 2 -->
        <div class="htw_card">
          <figure class="htw_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/how-to-play/htw-2.png    1x,
                  img/how-to-play/htw-2@2x.png 2x
                "
              />
              <img
                src="img/how-to-play/htw-2-mob.png"
                srcset="img/how-to-play/htw-2-mob@2x.png 2x"
                alt="Manage resources"
                width="270"
                height="358"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="htw_card-content">
            <h4 class="htw_card-title">Manage Survival Resources</h4>
            <p class="htw_card-text">
              Watch your oxygen, battery life, and pray your equipment holds up.
            </p>
          </div>
        </div>

        <!-- Карточка 3 -->
        <div class="htw_card">
          <figure class="htw_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/how-to-play/htw-3.png    1x,
                  img/how-to-play/htw-3@2x.png 2x
                "
              />
              <img
                src="img/how-to-play/htw-3-mob.png"
                srcset="img/how-to-play/htw-3-mob@2x.png 2x"
                alt="Build ocean research bases"
                width="270"
                height="358"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="htw_card-content">
            <h4 class="htw_card-title">BUILD OCEAN RESEARCH BASES</h4>
            <p class="htw_card-text">
              Create your own underwater hideouts and keep upgrading them.
            </p>
          </div>
        </div>

        <!-- Карточка 4 -->
        <div class="htw_card">
          <figure class="htw_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/how-to-play/htw-4.png    1x,
                  img/how-to-play/htw-4@2x.png 2x
                "
              />
              <img
                src="img/how-to-play/htw-4-mob.png"
                srcset="img/how-to-play/htw-4-mob@2x.png 2x"
                alt="Discover ancient technology"
                width="270"
                height="358"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="htw_card-content">
            <h4 class="htw_card-title">DISCOVER ANCIENT TECHNOLOGY</h4>
            <p class="htw_card-text">
              Recover artifacts and unlock forgotten ocean secrets.
            </p>
          </div>
        </div>

        <!-- Карточка 5 -->
        <div class="htw_card">
          <figure class="htw_figure">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  img/how-to-play/htw-5.png    1x,
                  img/how-to-play/htw-5@2x.png 2x
                "
              />
              <img
                src="img/how-to-play/htw-5-mob.png"
                srcset="img/how-to-play/htw-5-mob@2x.png 2x"
                alt="Survive sea creatures"
                width="270"
                height="358"
                loading="lazy"
              />
            </picture>
          </figure>
          <div class="htw_card-content">
            <h4 class="htw_card-title">SURVIVE SEA CREATUREWS</h4>
            <p class="htw_card-text">
              Avoid predators and dangerous abyssal threats.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
