<div class="mm_mobile-menu" data-visible="close">
  <div class="container">
    <a href="./" class="hdr_logo-link">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/img/logo-header.png 1x, /img/logo-header@2x.png 2x"
          type="image/png"
        />
        <source
          srcset="/img/logo-header-mob.png 1x, /img/logo-header-mob.png 2x"
          type="image/png"
        />
        <img
          class="hdr_logo-img mm_logo-position"
          src="/img/logo-header-mob.png"
          alt="Royal Adventure"
          width="32"
          height="32"
        />
      </picture>
    </a>
    <button class="mm_close-btn" type="button" data-menu-close>
      <svg class="mm_btn-close-icon">
        <use href="/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mm_list-navigation">
      <li class="mm_item-navigation">
        <a href="/#" class="mm_item-nav-link">Home</a>
      </li>
      <li class="mm_item-navigation">
        <a href="/#about" class="mm_item-nav-link">About the Game</a>
      </li>
      <li class="mm_item-navigation">
        <a href="/#how-to-play" class="mm_item-nav-link">How to Play</a>
      </li>
      <li class="mm_item-navigation">
        <a href="/#gallery" class="mm_item-nav-link">Gallery</a>
      </li>
      <li class="mm_item-navigation">
        <a href="/#faq" class="mm_item-nav-link">FAQ</a>
      </li>
      <li class="mm_item-navigation">
        <a href="/#contact" class="mm_item-nav-link">Contact</a>
      </li>
    </ul>
  </div>
</div>
