.scpg {
  padding-top: 0;
  background-color: var(--white-color);


  .ftr_footer {
    background-color: inherit;

    .ftr_footer-link {
      color: var(--black-color);

      &:hover {
        color: var(--accent-color);
      }

      &:not(:last-child)::after {
        color: var(--black-color);
      }
    }

    .ftr_footer-copyright {
      color: var(--black-color);
    }

  }
}

.scpg_policy-section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 64px;

  @media only screen and (min-width: 1440px) {
    padding-top: 59px;
    padding-bottom: 100px;
  }
}

.scpg_policy-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media only screen and (min-width: 1440px) {
    align-items: center;
  }
}

.scpg_back-link {
  position: absolute;
  top: 10px;
  left: 5px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-poppins);
  font-size: 14px;
  color: var(--black-color);
  transition: opacity 0.3s ease, color 0.3s ease;

  &:hover,
  &:focus {
    opacity: 1;
    color: var(--accent-color);
  }

  @media only screen and (min-width: 1440px) {
    top: 10px;
    left: 10px;
  }
}

.scpg_back-icon {
  fill: var(--black-color);
  width: 24px;
  height: 24px;

  @media only screen and (min-width: 1440px) {
    width: 41px;
    height: 41px;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.scpg_main-title {
  font-family: var(--font-fredoka);
  color: var(--black-color);
  font-size: 30px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 35px;
  align-self: center;

  @media only screen and (min-width: 1440px) {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 60px;
  }
}

.scpg_content-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  max-width: 100%;

  @media only screen and (min-width: 1440px) {
    width: 100%;
    margin: 0 auto;
  }
}

.scpg_content-block p {
  font-family: var(--font-inter);
  font-size: 14px;
  line-height: 1.5;
  color: var(--black-color);

  @media only screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.scpg_content-block li {
  font-family: var(--font-inter);
  font-size: 14px;
  line-height: 1.5;
  color: var(--black-color);

}

.scpg_sub-title {
  font-family: var(--font-inter);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 800;
  color: var(--black-color);
  margin-bottom: 10px;
  margin-top: 30px;

  @media only screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.scpg_mail-link {
  color: var(--black-color);
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.block-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.scpg_list {

  padding-left: 20px !important;


  li {
    list-style-type: disc;
  }

  @media only screen and (min-width: 1440px) {
    padding-left: 24px;

    li {
      font-size: 24px;
    }

  }
}

.scpg_numeric-list {
  list-style: decimal;
  padding-left: 24px;

  li {
    list-style-type: decimal;
    font-family: var(--font-inter);
    font-size: 15px;
    line-height: 1.6;
    color: var(--black-color);
  }

  @media only screen and (min-width: 1440px) {
    padding-left: 28px;

    li {
      font-size: 24px;
    }
  }
}

.mailto {
  text-decoration: underline;
}

.bold-text {
  font-weight: 700;
}