.scpg {
  padding-top: 0;
}

.scpg_policy-section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--title-color);

  @media only screen and (min-width: 1440px) {
    padding-top: 174px;
  }
}

.scpg_policy-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media only screen and (min-width: 1440px) {
    align-items: center;
  }
}

.scpg_back-link {
  position: absolute;
  top: 24px;
  left: 16px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-main);
  font-size: 14px;
  color: var(--white-color);
  stroke: var(--white-color);
  transition: color 0.3s ease, stroke 0.3s ease;

  &:hover,
  &:focus {
    color: var(--accent-color);
    stroke: var(--accent-color);
  }

  @media only screen and (min-width: 1440px) {
    top: 56px;
    left: 120px;
  }
}

.scpg_back-icon {
  stroke: inherit;
  width: 24px;
  height: 24px;

  @media only screen and (min-width: 1440px) {
    width: 41px;
    height: 41px;
  }
}

.scpg_main-title {
  font-family: var(--font-title);
  font-size: 32px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 56px;
  align-self: center;

  @media only screen and (min-width: 1440px) {
    font-size: 48px;
    line-height: 1;
  }
}

.scpg_content-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  max-width: 100%;

  @media only screen and (min-width: 1440px) {
    width: 100%;
    margin: 0 auto;
  }
}

.scpg_content-block p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: var(--white-color);

  @media only screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.scpg_content-block li {
  font-family: var(--font-main);
  font-size: 14px;
  line-height: 1.5;
  color: var(--white-color);
}

.scpg_sub-title {
  font-family: var(--font-main);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300 ;
  color: var(--white-color);
  margin-bottom: 10px;
  margin-top: 30px;

  @media only screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.scpg_mail-link {
  color: var(--white-color);
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.block-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.scpg_list {
  padding-left: 20px !important;

  li {
    list-style-type: disc;
  }

  @media only screen and (min-width: 1440px) {
    padding-left: 24px;

    li {
      font-size: 24px;
    }
  }
}

.scpg_numeric-list {
  list-style: decimal;
  padding-left: 24px;

  li {
    list-style-type: decimal;
    font-size: 15px;
    line-height: 1.6;
    color: var(--white-color);
  }

  @media only screen and (min-width: 1440px) {
    padding-left: 28px;

    li {
      font-size: 24px;
    }
  }
}

.mailto {
  text-decoration: underline;
}

.bold-text {
  font-weight: 700;
}